<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/itsrajat007" target="_blank" title="GitHub Profile"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/its_rajat_thakur_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rajat-kumar-8890b6263" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>